<!-- About modal -->
<div class="modal fade bd-about-modal-lg" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="aboutLogo">
        <%= render 'link_logo' %>
      </div>
      <span class="bigChar">β</span>

      <div class='container'>
        <h3>Welcome to the Skrol Beta!*</h3>

        <p>
          The app will help you to learn a new language, one sentence at a
          time. Once started the sentences will start to move across the screen
          and you will be able to use the tools to help you learn.
        </p>

        <p>
          The marquee is the only component at the moment, but by using the
          information I collect from your learning sessions (that's right, I'll
          be watching you) I'll be able to recommend other content that you will
          be able to understand and learn from such as audio, video, and books.
        </p>

        <p>
          In this way, It is my hope that I can reduce the time it takes to
          acquire a language from years to months.
        </p>

        <p>Enjoy!</p>

        <p>-Luke-</p>

        <p>
          *Beta means the app is still in development and that you should expect
          a few bugs and errors.
        </p>

        <h3>Tools</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Control buttons</strong>, use to speed the marquee up,
            slow it down, and to change languages.
          </li>
          <li class="list-group-item">
            <strong>Hover or Touch</strong> words to see their equivalents
            highlighted in blue in the other sentences.
          </li>
          <li class="list-group-item">
            <strong>Click or Touch</strong> individual
            phonetic characters to hear the audio if they turn to green.
          </li>
          <li class="list-group-item">
            <strong>Click or Touch</strong> the white space
            below the phonetic sentence to reveal the English equivalent.
          </li>
          <li class="list-group-item">
            <strong>Click or Touch, hold, and drag</strong> the marquee if you wish to
            bring past sentences back into view.
          </li>
        </ul>
        <br>

        <h3>Warning</h3>
        <p>
          Sentences have been sourced from an external database and have not
          been filtered, apologies if some are rude or cause offence.
        </p>
        <p>
          Expect a few bugs, refreshing the page will fix most of them.
        </p>

        <h3>International Phonetic Alphabet</h3>
        <p>
          The International Phonetic Alphabet (IPA) is a, "standardized
          representation of the sounds of spoken language". The
          sentences presented on the middle row of the marquee are all written
          in IPA to help you with pronunciation in your target language.
        </p>

        <p>
          I have tried to source as many sounds as possible from Wikipedia so
          that you can hear a sound when you click on an IPA character but there
          are probably still a few missing.
        </p>

        <p>
          A quick reference on common markings is below, check the
          <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
          IPA Wikipedia page</a> for a more comprehensive reference.
        </p>

        <div class="row">
          <div class="card">
            <span class="bigChar">ˈa</span>
            <div class="card-body">
              <p class="card-text">Primary stress</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">ˌa</span>
            <div class="card-body">
              <p class="card-text">Secondary stress</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">a.a</span>
            <div class="card-body">
              <p class="card-text">Syllable break</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">aː</span>
            <div class="card-body">
              <p class="card-text">Long vowel</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">◌̃</span>
            <div class="card-body">
              <p class="card-text">Nasalized</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">s‿a</span>
            <div class="card-body">
              <p class="card-text">Linking (absence of a break)</p>
            </div>
          </div>
        </div>
        <br>
        <h3>Future Development</h3>
        <h5>Short Term</h5>
        <ul>
          <li>A way for language ‘masters’ to enter new content.</li>
        </ul>
        <h5>Medium Term</h5>
        <ul>
          <li>More languages supported in both directions.</li>
        </ul>
        <h5>Long Term</h5>
        <ul>
          <li>Inclusion of more media including books, videos, and music.</li>
        </ul>

        <h3>Contact</h3>
        <p>
          If you have any issues or feedback, just contact me the way you
          usually would.
        </p>
      </div>
    </div>
  </div>
</div>
