<!-- About modal -->
<div class="modal fade bd-about-modal-lg" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render 'about_logo' %> <span class="bigChar">β</span>
      <div class='container'>
        <p>Welcome to the skrol beta!</p>

        <p>
          Beta means the app is still in development and that you should expect
          a few bugs and errors.
        </p>

        <p>
          The idea behind the app is that you read sentences that pass through
          the marquee in your target language and use the tools to help you
          to understand and learn.
        <p>

        <p>
          The app will monitor your progress and will choose the best sentences
          for you to see next.
        </p>

        <h3>Tools</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Control buttons</strong>, use to speed the marquee up,
            slow it down, and to change languages.
          </li>
          <li class="list-group-item">
            <strong>Hover</strong> over words to see their equivalents
            highlighted in blue in other sentences.
          </li>
          <li class="list-group-item">
            <strong>Click</strong> on individual phonetic characters to hear
            the audio if they turn to green.
          </li>
          <li class="list-group-item">
            <strong>Click and hold</strong> down on the white space below the
            phonetic sentence to reveal the English equivalent.
          </li>
          <li class="list-group-item">
            <strong>Click, hold, and drag</strong> the marquee if you wish to
            bring past sentences back into view.
          </li>
        </ul>
        <br>

        <h3>Warning</h3>
        <p>
          Sentences have been sourced from an external database and have not
          been filtered, apologies if some are rude or cause offence.
        </p>
        <p>
          As I said, expect a few bugs, refreshing the page will fix most of
          them.
        </p>

        <h3>International Phonetic Alphabet</h3>
        <p>
          The International Phonetic Alphabet (IPA) is a, "standardized
          representation of the sounds of spoken language". The
          sentences presented on the middle row of the marquee are all written
          in IPA to help you with pronunciation in your target language.
        </p>

        <p>
          I have tried to source as many sounds as possible from Wikipedia so
          that you can hear a sound when you click on an IPA character but there
          are probably still a few missing.
        </p>

        <p>
          A quick reference on other common markings is below, check the
          <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet" target="_blank">
          wikipedia page</a> for a more comprehensive reference.
        </p>

        <div class="row .mx-auto">
          <div class="card">
            <span class="bigChar">ˈa</span>
            <div class="card-body">
              <p class="card-text">Primary stress</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">ˌa</span>
            <div class="card-body">
              <p class="card-text">Secondary stress</p>
            </div>
          </div>

          <div class="card">
            <span class="bigChar">a.a</span>
            <div class="card-body">
              <p class="card-text">Syllable break</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">aː</span>
            <div class="card-body">
              <p class="card-text">Long vowel</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">aˑ</span>
            <div class="card-body">
              <p class="card-text">Half-long</p>
            </div>
          </div>
          <div class="card">
            <span class="bigChar">s‿a</span>
            <div class="card-body">
              <p class="card-text">Linking (absence of a break)</p>
            </div>
          </div>
        </div>

        <h3>Future Development</h3>
        <h5>Short Term</h5>
        <p>A way for language ‘masters’ to enter new content.</p>
        <h5>Medium Term</h5>
        <p>Mobile and touch screen support.</p>
        <h5>Long Term</h5>
        <p>Inclusion of all media including books, videos, and music.</p>

        <h3>Contact</h3>
        <p>
          If you have any issues or feedback, just contact me the way you
          usually would.
        </p>

        <p>
          I may consider putting together a Slack channel or Reddit page
          down the track, especially as more 'masters' come onboard.
        </p>

        <p>Enjoy!</p>

        <p>-Luke-</p>
      </div>
    </div>
  </div>
</div>
