<!-- Controls -->
<div class="container text-center">
  <div id="controls" class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <!-- Controls to 'play' and 'pause' marquee -->
    <button type='button' class='btn' id='state'>-</button>

    <!-- Controls to speed up and slow down the marquee -->
    <button type='button' class='btn btn-primary' id='lessSpeed'>Slower</button>
    <button type='button' class='btn btn-primary' id='moreSpeed'>Faster</button>

    <!-- Controls to display and change Languages  -->
    <div class="btn-group" id="languageMenu" role="group">
      <button id="langLabel" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        - <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="languages" aria-labelledby="langLabel">
      </ul>
    </div>

    <!-- User name and logout button  -->
    <div class="btn-group" role="group" id="userInfo">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.name %> <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Account", account_path, id:"account", class: 'dropdown-item' %>
        <a id="about" class="dropdown-item" data-toggle="modal" data-target=".bd-about-modal-lg">About</a>
        <%= link_to "Sign out", sign_out_path, id:"signOut", class: 'dropdown-item' %>
      </div>
    </div>

    <button type='button' class='btn btn-primary' id='meter'>-</button>
  </div>
</div>
