<style>

  #logo, #macron {
    color: black;
    text-align: center;
  }

  #logo {
    font-family: 'dejavu_serifbook';
    border: .03em black solid;
  }

  #macron {
    position: relative;
    background: black;
  }

</style>
<div id="logo">skrol<div id='macron'></div></div>
