<style>

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
  }

</style>

<!-- The Marquee and with its placeholders -->
<!-- [Fix: Rename to something like frame, canvas, marquee]  -->
<div id='frame'>
  <div id='marquee'>
    <div id='slide'>
      <div id="placeholder">
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
      </div>
    </div>
  </div>
</div>


<div id='controls' class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <!-- Controls to 'play' and 'pause' marquee -->
  <button type='button' class='btn' id='state'>-</button>

  <!-- Controls to speed up and slow down the marquee -->
  <button type='button' class='btn btn-primary' id='lessSpeed'>Slower</button>
  <button type='button' class='btn btn-primary' id='moreSpeed'>Faster</button>

  <!-- Controls to display and change Languages  -->
  <div class="btn-group" role="group">
    <button id="lang-label" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      - <span class="caret"></span>
    </button>
    <ul class="dropdown-menu languages" aria-labelledby="btnGroupDrop1">
    </ul>
  </div>

  <!-- User name and logout button  -->
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.name %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li class="dropdown-item">
        <%= link_to "Account", account_path, id:"account" %>
      </li>
      <li class="dropdown-item">
        <%= link_to "Sign out", sign_out_path, id:"signOut" %>
      </li>
    </ul>
  </div>
</div>



<script>
  $(document).ready(skrolInit);
</script>
