<%= render 'no_touch' %>
<%= render 'about_modal' %>

<!-- The Marquee and with its placeholders -->
<div id='frame'>
  <div id='marquee'>
    <div id='slide'>
      <div id="placeholder">
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
      </div>
    </div>
  </div>
</div>

<%= render 'controls' %>

<script>
  $(document).ready(skrolInit);
</script>
