<!-- The Marquee and with its placeholders -->
<!-- [Fix: Rename to something like frame, canvas, marquee]  -->
<div id='frame'>
  <div id='marquee'>
    <div id='slide'>
      <div id="placeholder">
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
      </div>
    </div>
  </div>
</div>

<div id='controls'>
  <!-- Controls to 'play' and 'pause' marquee -->
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-default'>Marquee:</button>
    <button type='button' class='btn' id='state'>-</button>
  </div>

  <!-- Controls to speed up and slow down the marquee -->
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-primary' id='lessSpeed'>Slower</button>
    <button type='button' class='btn btn-default' id='speedLabel'>-</button>
    <button type='button' class='btn btn-primary' id='moreSpeed'>Faster</button>
  </div>

  <!-- Controls to hide and show the English Row -->
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-default'>English:</button>
    <button type='button' class='btn btn-primary' id='hide-base'>-</button>
  </div>

  <!-- Controls to display and change Languages  -->
  <div class='btn-group' role='group' aria-label='Button group with nested dropdown'>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Languages <span class="caret"></span>
      </button>
      <ul class="dropdown-menu languages" aria-labelledby="btnGroupDrop1">
      </ul>
    </div>
    <button type='button' class='btn btn-default' id="lang-label">-</button>
  </div>

  <!-- User name and logout button  -->
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-default'><%= current_user.name %></button>
    <%= link_to "Sign out", sign_out_path, class:"btn btn-primary", id:"signOut" %>
  </div>
</div>

<script>
  $(document).ready(skrolInit);
</script>
