<style>

  #logo {
    width: 26vw;
    font-size: 8vw;
    line-height: 1.42857143;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vw;
  }

  #macron {
    width: 3vw;
    height: .5vw;
    top: -8vw;
    left: 16.4vw;
  }

  #homeLink:hover {
    text-decoration: none;
  }

</style>
<a id="homeLink" href="<%= root_path %>" >
  <%= render partial: 'static_pages/logo' %>
</a>
