<!-- No touch screens message -->
<div id='noTouch'>
  <%= render 'big_logo' %>
  Apologies, skrol is not setup for touch screen devices as yet, please switch
  to a laptop or desktop.
  <div id="noTouchOptions">
    <%= link_to "Sign out", sign_out_path, id:"signOut", class: 'btn btn-dark noTouchOptions' %>
    <span class="btn btn-dark noTouchOptions" data-toggle="modal" data-target=".bd-about-modal-lg">About</span>
  </div>
</div>
