<div id="logo">skrol<div id='macron'></div></div>
<div id='msg'></div>

<style>

  body {
    padding-top: 4%;
  }

  div {
    text-align: center;
  }

  #logo {
    font-family: 'dejavu_serifbook';
    margin: auto;
    width: 60vw;
    font-size: 17vw;
    border: .03em black solid;
  }

  #macron {
    position: relative;
    background: black;
    width: 7vw;
    height: 1.1vw;
    top: -17vw;
    left: 36.9vw;
  }

  span {
    font-size: 118%;
  }

  #msg {
   font-size: 6vw;
   font-family: 'Open Sans', sans-serif;
  }

  }
</style>
<script>
  $(document).ready(function() {
    change();
  });

  var comingSoon = ["coming soon", "ˈkʌmɪŋ suːn",
  "prossimamente", "prossimaˈmente", "arrive bientôt", "a.ʁiv bjɛ̃.to",
  "demnächst", "ˌdeːmˈnɛːçst", "快來了", "快来了", "近日公開", "скоро", "ˈskorə",
  "kommer snart", "wkrótce", "ˈfkrutʦ̑ɛ", "próximamente", "mox adventu",
  "Ερχομαι συντομα", "ġej dalwaqt", "قريبا", "בקרוב", "baldaŭ", "მალე"];

  var counter = 0;

  function change() {
      $('#msg').text(comingSoon[counter]);
      if (counter == (comingSoon.length - 1)) {
        counter = 0;
      } else {
        counter++;
      }
      $('#msg').fadeIn(5000).fadeOut(5000, 'swing', change);
  }
</script>
