<div id='frame'>
  <div id='marquee'>
    <div id='slide'>
      <div id="placeholder">
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
        <div id="innerholder">#</div>
      </div>
    </div>
  </div>
</div>
<div id='controls'>
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-default'>Marquee:</button>
    <button type='button' class='btn btn-warning' id='stop-start' disabled="true">Loading</button>
  </div>
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-primary' id='lessSpeed'><b>Slower</b></button>
    <button type='button' class='btn btn-default' id='speedLabel'>(Font Speed)</button>
    <button type='button' class='btn btn-primary' id='moreSpeed'><b>Faster</b></button>
  </div>
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-primary' id='smallerFont'><b>Smaller</b></button>
    <button type='button' class='btn btn-default' id='fontLabel'>(Font Size)</button>
    <button type='button' class='btn btn-primary' id='largerFont'><b>Larger</b></button>
  </div>
  <div class='btn-group' role='group' aria-label='...'>
    <button type='button' class='btn btn-default'>English:</button>
    <button type='button' class='btn btn-primary' id='hide-base'>Showing</button>
  </div>
</div>
