/* Marquee Styling */

#frame {
  width: 75%;
  margin: auto;
  border: 1px solid #ccc;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  font-size: 4vw;
  cursor: grab;
}

#frame:active {
  cursor: grabbing;
}

#marquee {
  overflow: hidden;
  white-space: nowrap;
}

#slide {
  display: inline;
}

.sentences, #placeholder {
  display: inline-block;
  margin-right: .5em;
}

.sentence, #innerholder {
  display: flex;
}

/* Text Styling */

.highlight {
  color: #007bff;
}

#placeholder {
  color: white;
}

/* Control Styling */

#controls {
  width: 75%;
  margin: auto;
  margin-top: 1em;
}
